<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.license</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>com.schriftgestaltung.font.licenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>com.schriftgestaltung.font.panose</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>GSDimensionPlugin.Dimensions</key>
		<dict>
			<key>60CFBDE8-BC08-4808-BF41-F011F3E03A54</key>
			<dict>
				<key>HH</key>
				<string>26</string>
				<key>HV</key>
				<string>30</string>
				<key>OH</key>
				<string>28</string>
				<key>OV</key>
				<string>32</string>
				<key>nV</key>
				<string>30</string>
				<key>nd</key>
				<string>24</string>
				<key>oH</key>
				<string>28</string>
				<key>oV</key>
				<string>32</string>
				<key>tH</key>
				<string>26</string>
			</dict>
			<key>EBFFFCD3-BAE4-48A5-9442-B72A90AD34A8</key>
			<dict>
				<key>HH</key>
				<string>74</string>
				<key>HV</key>
				<string>140</string>
				<key>OH</key>
				<string>47</string>
				<key>OV</key>
				<string>154</string>
				<key>nV</key>
				<string>136</string>
				<key>nd</key>
				<string>44</string>
				<key>oH</key>
				<string>46</string>
				<key>oV</key>
				<string>146</string>
				<key>tH</key>
				<string>61</string>
			</dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>23</integer>
		<key>GSOffsetHorizontal</key>
		<integer>73</integer>
		<key>GSOffsetMakeStroke</key>
		<integer>1</integer>
		<key>GSOffsetVertical</key>
		<integer>23</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>EBFFFCD3-BAE4-48A5-9442-B72A90AD34A8</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.master.name</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>160</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adieresis</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ddotbelow</string>
		<string>Dlinebelow</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Ehookabove</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>F</string>
		<string>G</string>
		<string>G_tildecomb</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Gmacron</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hbrevebelow</string>
		<string>Hcircumflex</string>
		<string>Hdotbelow</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icaron</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Ihookabove</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Ldotbelow</string>
		<string>Ldotbelowmacron</string>
		<string>Llinebelow</string>
		<string>Lslash</string>
		<string>M</string>
		<string>Mdotbelow</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ndotaccent</string>
		<string>Ndotbelow</string>
		<string>Eng</string>
		<string>Nlinebelow</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odieresis</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Rdotbelow</string>
		<string>Rdotbelowmacron</string>
		<string>Rlinebelow</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Sdotaccent</string>
		<string>Sdotbelow</string>
		<string>Germandbls</string>
		<string>Schwa</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tdotbelow</string>
		<string>Tlinebelow</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhookabove</string>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotaccent</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ytilde</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zdotbelow</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adieresis</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>alpha-latin</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ddotbelow</string>
		<string>dlinebelow</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>schwa</string>
		<string>f</string>
		<string>g</string>
		<string>g_tildecomb</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>gmacron</string>
		<string>h</string>
		<string>hbar</string>
		<string>hbrevebelow</string>
		<string>hcircumflex</string>
		<string>hdotbelow</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotaccent</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>ihookabove</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>jdotless</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>ldotbelow</string>
		<string>ldotbelowmacron</string>
		<string>llinebelow</string>
		<string>lslash</string>
		<string>m</string>
		<string>mdotbelow</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>ndotbelow</string>
		<string>eng</string>
		<string>nlinebelow</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohookabove</string>
		<string>ohorn</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorntilde</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>rdotbelow</string>
		<string>rdotbelowmacron</string>
		<string>rlinebelow</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>sdotaccent</string>
		<string>sdotbelow</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>tdieresis</string>
		<string>tdotbelow</string>
		<string>tlinebelow</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udieresisacute</string>
		<string>udieresiscaron</string>
		<string>udieresisgrave</string>
		<string>udieresismacron</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhookabove</string>
		<string>uhorn</string>
		<string>uhornacute</string>
		<string>uhorndotbelow</string>
		<string>uhorngrave</string>
		<string>uhornhookabove</string>
		<string>uhorntilde</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotaccent</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ytilde</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zdotbelow</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>nmod</string>
		<string>Alpha</string>
		<string>Beta</string>
		<string>Gamma</string>
		<string>Delta</string>
		<string>Epsilon</string>
		<string>Zeta</string>
		<string>Eta</string>
		<string>Theta</string>
		<string>Iota</string>
		<string>Kappa</string>
		<string>Lambda</string>
		<string>Mu</string>
		<string>Nu</string>
		<string>Xi</string>
		<string>Omicron</string>
		<string>Pi</string>
		<string>Rho</string>
		<string>Sigma</string>
		<string>Tau</string>
		<string>Upsilon</string>
		<string>Phi</string>
		<string>Chi</string>
		<string>Psi</string>
		<string>Omega</string>
		<string>Alphatonos</string>
		<string>Epsilontonos</string>
		<string>Etatonos</string>
		<string>Iotatonos</string>
		<string>Omicrontonos</string>
		<string>Upsilontonos</string>
		<string>Omegatonos</string>
		<string>Iotadieresis</string>
		<string>Upsilondieresis</string>
		<string>KaiSymbol</string>
		<string>Alphapsili</string>
		<string>Alphadasia</string>
		<string>Alphapsilivaria</string>
		<string>Alphadasiavaria</string>
		<string>Alphapsilioxia</string>
		<string>Alphadasiaoxia</string>
		<string>Alphapsiliperispomeni</string>
		<string>Alphadasiaperispomeni</string>
		<string>Alphavaria</string>
		<string>Alphaoxia</string>
		<string>Alphavrachy</string>
		<string>Alphamacron</string>
		<string>Alphaprosgegrammeni</string>
		<string>Alphapsiliprosgegrammeni</string>
		<string>Alphadasiaprosgegrammeni</string>
		<string>Alphapsilivariaprosgegrammeni</string>
		<string>Alphadasiavariaprosgegrammeni</string>
		<string>Alphapsilioxiaprosgegrammeni</string>
		<string>Alphadasiaoxiaprosgegrammeni</string>
		<string>Alphapsiliperispomeniprosgegrammeni</string>
		<string>Alphadasiaperispomeniprosgegrammeni</string>
		<string>Epsilonpsili</string>
		<string>Epsilondasia</string>
		<string>Epsilonpsilivaria</string>
		<string>Epsilondasiavaria</string>
		<string>Epsilonpsilioxia</string>
		<string>Epsilondasiaoxia</string>
		<string>Epsilonvaria</string>
		<string>Epsilonoxia</string>
		<string>Etapsili</string>
		<string>Etadasia</string>
		<string>Etapsilivaria</string>
		<string>Etadasiavaria</string>
		<string>Etapsilioxia</string>
		<string>Etadasiaoxia</string>
		<string>Etapsiliperispomeni</string>
		<string>Etadasiaperispomeni</string>
		<string>Etavaria</string>
		<string>Etaoxia</string>
		<string>Etaprosgegrammeni</string>
		<string>Etapsiliprosgegrammeni</string>
		<string>Etadasiaprosgegrammeni</string>
		<string>Etapsilivariaprosgegrammeni</string>
		<string>Etadasiavariaprosgegrammeni</string>
		<string>Etapsilioxiaprosgegrammeni</string>
		<string>Etadasiaoxiaprosgegrammeni</string>
		<string>Etapsiliperispomeniprosgegrammeni</string>
		<string>Etadasiaperispomeniprosgegrammeni</string>
		<string>Iotapsili</string>
		<string>Iotadasia</string>
		<string>Iotapsilivaria</string>
		<string>Iotadasiavaria</string>
		<string>Iotapsilioxia</string>
		<string>Iotadasiaoxia</string>
		<string>Iotapsiliperispomeni</string>
		<string>Iotadasiaperispomeni</string>
		<string>Iotavaria</string>
		<string>Iotaoxia</string>
		<string>Iotavrachy</string>
		<string>Iotamacron</string>
		<string>Omicronpsili</string>
		<string>Omicrondasia</string>
		<string>Omicronpsilivaria</string>
		<string>Omicrondasiavaria</string>
		<string>Omicronpsilioxia</string>
		<string>Omicrondasiaoxia</string>
		<string>Omicronvaria</string>
		<string>Omicronoxia</string>
		<string>Rhodasia</string>
		<string>Upsilondasia</string>
		<string>Upsilondasiavaria</string>
		<string>Upsilondasiaoxia</string>
		<string>Upsilondasiaperispomeni</string>
		<string>Upsilonvaria</string>
		<string>Upsilonoxia</string>
		<string>Upsilonvrachy</string>
		<string>Upsilonmacron</string>
		<string>Omegapsili</string>
		<string>Omegadasia</string>
		<string>Omegapsilivaria</string>
		<string>Omegadasiavaria</string>
		<string>Omegapsilioxia</string>
		<string>Omegadasiaoxia</string>
		<string>Omegapsiliperispomeni</string>
		<string>Omegadasiaperispomeni</string>
		<string>Omegavaria</string>
		<string>Omegaoxia</string>
		<string>Omegaprosgegrammeni</string>
		<string>Omegapsiliprosgegrammeni</string>
		<string>Omegadasiaprosgegrammeni</string>
		<string>Omegapsilivariaprosgegrammeni</string>
		<string>Omegadasiavariaprosgegrammeni</string>
		<string>Omegapsilioxiaprosgegrammeni</string>
		<string>Omegadasiaoxiaprosgegrammeni</string>
		<string>Omegapsiliperispomeniprosgegrammeni</string>
		<string>Omegadasiaperispomeniprosgegrammeni</string>
		<string>alpha</string>
		<string>beta</string>
		<string>gamma</string>
		<string>delta</string>
		<string>epsilon</string>
		<string>zeta</string>
		<string>eta</string>
		<string>theta</string>
		<string>iota</string>
		<string>kappa</string>
		<string>lambda</string>
		<string>mu</string>
		<string>nu</string>
		<string>xi</string>
		<string>omicron</string>
		<string>pi</string>
		<string>rho</string>
		<string>sigmafinal</string>
		<string>sigma</string>
		<string>tau</string>
		<string>upsilon</string>
		<string>phi</string>
		<string>chi</string>
		<string>psi</string>
		<string>omega</string>
		<string>iotatonos</string>
		<string>iotadieresis</string>
		<string>iotadieresistonos</string>
		<string>upsilontonos</string>
		<string>upsilondieresis</string>
		<string>upsilondieresistonos</string>
		<string>omicrontonos</string>
		<string>omegatonos</string>
		<string>alphatonos</string>
		<string>epsilontonos</string>
		<string>etatonos</string>
		<string>kaiSymbol</string>
		<string>alphapsili</string>
		<string>alphadasia</string>
		<string>alphapsilivaria</string>
		<string>alphadasiavaria</string>
		<string>alphapsilioxia</string>
		<string>alphadasiaoxia</string>
		<string>alphapsiliperispomeni</string>
		<string>alphadasiaperispomeni</string>
		<string>alphavaria</string>
		<string>alphaoxia</string>
		<string>alphaperispomeni</string>
		<string>alphavrachy</string>
		<string>alphamacron</string>
		<string>alphaypogegrammeni</string>
		<string>alphavariaypogegrammeni</string>
		<string>alphaoxiaypogegrammeni</string>
		<string>alphapsiliypogegrammeni</string>
		<string>alphadasiaypogegrammeni</string>
		<string>alphapsilivariaypogegrammeni</string>
		<string>alphadasiavariaypogegrammeni</string>
		<string>alphapsilioxiaypogegrammeni</string>
		<string>alphadasiaoxiaypogegrammeni</string>
		<string>alphapsiliperispomeniypogegrammeni</string>
		<string>alphadasiaperispomeniypogegrammeni</string>
		<string>alphaperispomeniypogegrammeni</string>
		<string>epsilonpsili</string>
		<string>epsilondasia</string>
		<string>epsilonpsilivaria</string>
		<string>epsilondasiavaria</string>
		<string>epsilonpsilioxia</string>
		<string>epsilondasiaoxia</string>
		<string>epsilonvaria</string>
		<string>epsilonoxia</string>
		<string>etapsili</string>
		<string>etadasia</string>
		<string>etapsilivaria</string>
		<string>etadasiavaria</string>
		<string>etapsilioxia</string>
		<string>etadasiaoxia</string>
		<string>etapsiliperispomeni</string>
		<string>etadasiaperispomeni</string>
		<string>etavaria</string>
		<string>etaoxia</string>
		<string>etaperispomeni</string>
		<string>etaypogegrammeni</string>
		<string>etavariaypogegrammeni</string>
		<string>etaoxiaypogegrammeni</string>
		<string>etapsiliypogegrammeni</string>
		<string>etadasiaypogegrammeni</string>
		<string>etapsilivariaypogegrammeni</string>
		<string>etadasiavariaypogegrammeni</string>
		<string>etapsilioxiaypogegrammeni</string>
		<string>etadasiaoxiaypogegrammeni</string>
		<string>etapsiliperispomeniypogegrammeni</string>
		<string>etadasiaperispomeniypogegrammeni</string>
		<string>etaperispomeniypogegrammeni</string>
		<string>iotapsili</string>
		<string>iotadasia</string>
		<string>iotapsilivaria</string>
		<string>iotadasiavaria</string>
		<string>iotapsilioxia</string>
		<string>iotadasiaoxia</string>
		<string>iotapsiliperispomeni</string>
		<string>iotadasiaperispomeni</string>
		<string>iotavaria</string>
		<string>iotaoxia</string>
		<string>iotaperispomeni</string>
		<string>iotavrachy</string>
		<string>iotamacron</string>
		<string>iotadialytikavaria</string>
		<string>iotadialytikaoxia</string>
		<string>iotadialytikaperispomeni</string>
		<string>omicronpsili</string>
		<string>omicrondasia</string>
		<string>omicronpsilivaria</string>
		<string>omicrondasiavaria</string>
		<string>omicronpsilioxia</string>
		<string>omicrondasiaoxia</string>
		<string>omicronvaria</string>
		<string>omicronoxia</string>
		<string>rhopsili</string>
		<string>rhodasia</string>
		<string>upsilonpsili</string>
		<string>upsilondasia</string>
		<string>upsilonpsilivaria</string>
		<string>upsilondasiavaria</string>
		<string>upsilonpsilioxia</string>
		<string>upsilondasiaoxia</string>
		<string>upsilonpsiliperispomeni</string>
		<string>upsilondasiaperispomeni</string>
		<string>upsilonvaria</string>
		<string>upsilonoxia</string>
		<string>upsilonperispomeni</string>
		<string>upsilonvrachy</string>
		<string>upsilonmacron</string>
		<string>upsilondialytikavaria</string>
		<string>upsilondialytikaoxia</string>
		<string>upsilondialytikaperispomeni</string>
		<string>omegapsili</string>
		<string>omegadasia</string>
		<string>omegapsilivaria</string>
		<string>omegadasiavaria</string>
		<string>omegapsilioxia</string>
		<string>omegadasiaoxia</string>
		<string>omegapsiliperispomeni</string>
		<string>omegadasiaperispomeni</string>
		<string>omegavaria</string>
		<string>omegaoxia</string>
		<string>omegaperispomeni</string>
		<string>omegaypogegrammeni</string>
		<string>omegavariaypogegrammeni</string>
		<string>omegaoxiaypogegrammeni</string>
		<string>omegapsiliypogegrammeni</string>
		<string>omegadasiaypogegrammeni</string>
		<string>omegapsilivariaypogegrammeni</string>
		<string>omegadasiavariaypogegrammeni</string>
		<string>omegapsilioxiaypogegrammeni</string>
		<string>omegadasiaoxiaypogegrammeni</string>
		<string>omegapsiliperispomeniypogegrammeni</string>
		<string>omegadasiaperispomeniypogegrammeni</string>
		<string>omegaperispomeniypogegrammeni</string>
		<string>prosgegrammeni</string>
		<string>ypogegrammeni</string>
		<string>gscript</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zeroinferior</string>
		<string>oneinferior</string>
		<string>twoinferior</string>
		<string>threeinferior</string>
		<string>fourinferior</string>
		<string>fiveinferior</string>
		<string>sixinferior</string>
		<string>seveninferior</string>
		<string>eightinferior</string>
		<string>nineinferior</string>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onethird</string>
		<string>twothirds</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>parenleftinferior</string>
		<string>parenrightinferior</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleftsuperior</string>
		<string>parenrightsuperior</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>figuredash</string>
		<string>horizontalbar</string>
		<string>hyphentwo</string>
		<string>underscore</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>anoteleia</string>
		<string>questiongreek</string>
		<string>emspace</string>
		<string>enspace</string>
		<string>figurespace</string>
		<string>hairspace</string>
		<string>space</string>
		<string>nbspace</string>
		<string>thinspace</string>
		<string>zerowidthspace</string>
		<string>zerowidthjoiner</string>
		<string>zerowidthnonjoiner</string>
		<string>cedi</string>
		<string>cent</string>
		<string>colonsign</string>
		<string>currency</string>
		<string>dollar</string>
		<string>dong</string>
		<string>euro</string>
		<string>florin</string>
		<string>guarani</string>
		<string>lira</string>
		<string>liraTurkish</string>
		<string>naira</string>
		<string>peseta</string>
		<string>peso</string>
		<string>rupeeIndian</string>
		<string>sterling</string>
		<string>yen</string>
		<string>bulletoperator</string>
		<string>divisionslash</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>asciicircum</string>
		<string>infinity</string>
		<string>integral</string>
		<string>increment</string>
		<string>product</string>
		<string>summation</string>
		<string>radical</string>
		<string>partialdiff</string>
		<string>micro</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>upArrow</string>
		<string>rightArrow</string>
		<string>downArrow</string>
		<string>leftArrow</string>
		<string>dottedCircle</string>
		<string>blackDiamond</string>
		<string>lozenge</string>
		<string>blackSquare</string>
		<string>upBlackTriangle</string>
		<string>rightBlackTriangle</string>
		<string>downBlackTriangle</string>
		<string>leftBlackTriangle</string>
		<string>upWhiteTriangle</string>
		<string>rightWhiteTriangle</string>
		<string>downWhiteTriangle</string>
		<string>leftWhiteTriangle</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>published</string>
		<string>trademark</string>
		<string>degree</string>
		<string>minute</string>
		<string>second</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>literSign</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>estimated</string>
		<string>rightFacingSvasti</string>
		<string>servicemark</string>
		<string>numeral-greek</string>
		<string>lowernumeral-greek</string>
		<string>apostrophemod</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>hungarumlautcomb</string>
		<string>circumflexcomb</string>
		<string>caroncomb</string>
		<string>brevecomb</string>
		<string>ringcomb</string>
		<string>tildecomb</string>
		<string>macroncomb</string>
		<string>hookabovecomb</string>
		<string>commaturnedabovecomb</string>
		<string>horncomb</string>
		<string>dotbelowcomb</string>
		<string>dieresisbelowcomb</string>
		<string>commaaccentcomb</string>
		<string>cedillacomb</string>
		<string>ogonekcomb</string>
		<string>brevebelowcomb</string>
		<string>macronbelowcomb</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>dieresiscomb.case</string>
		<string>dotaccentcomb.case</string>
		<string>gravecomb.case</string>
		<string>acutecomb.case</string>
		<string>hungarumlautcomb.case</string>
		<string>circumflexcomb.case</string>
		<string>caroncomb.case</string>
		<string>brevecomb.case</string>
		<string>tildecomb.case</string>
		<string>macroncomb.case</string>
		<string>dotbelowcomb.case</string>
		<string>dieresisbelowcomb.case</string>
		<string>brevebelowcomb.case</string>
		<string>macronbelowcomb.case</string>
		<string>tonos</string>
		<string>tonos.case</string>
		<string>dieresistonos</string>
		<string>psili</string>
		<string>psili.case</string>
		<string>koronis</string>
		<string>koronis.case</string>
		<string>dasia</string>
		<string>dasia.case</string>
		<string>psilivaria</string>
		<string>dasiavaria</string>
		<string>dasiavaria.case</string>
		<string>psilioxia</string>
		<string>psilioxia.case</string>
		<string>dasiaoxia</string>
		<string>dasiaoxia.case</string>
		<string>psiliperispomeni</string>
		<string>psiliperispomeni.case</string>
		<string>dasiaperispomeni</string>
		<string>dasiaperispomeni.case</string>
		<string>dialytikavaria</string>
		<string>dialytikaoxia</string>
		<string>dialytikaperispomeni</string>
		<string>varia</string>
		<string>varia.case</string>
		<string>oxia</string>
		<string>oxia.case</string>
		<string>perispomeni</string>
		<string>perispomeni.case</string>
		<string>psilivaria.case</string>
		<string>dialytikavaria.case</string>
		<string>dialytikaoxia.case</string>
		<string>dialytikaperispomeni.case</string>
		<string>brevecomb_acutecomb</string>
		<string>brevecomb_gravecomb</string>
		<string>brevecomb_hookabovecomb</string>
		<string>brevecomb_tildecomb</string>
		<string>circumflexcomb_acutecomb</string>
		<string>circumflexcomb_gravecomb</string>
		<string>circumflexcomb_hookabovecomb</string>
		<string>circumflexcomb_tildecomb</string>
		<string>ydaotbelow</string>
	</array>
</dict>
</plist>
